---
import Logo from "./Logo.astro";

const setOneLinks = [
  {
    text: "Ductless Mini-Splits",
    url: "/air-conditioning/ductless-mini-splits/",
    imageSrc: "/assets/img/nav-01.jpg",
    imageAlt: "Ductless Mini-Splits",
  },
  {
    text: "Heat Pumps",
    url: "/heating/heat-pumps/",
    imageSrc: "/assets/img/nav-02.jpg",
    imageAlt: "Heat Pumps",
  },
  {
    text: "Furnaces",
    url: "/heating/furnaces/",
    imageSrc: "/assets/img/nav-03.jpg",
    imageAlt: "Furnaces",
  },
  {
    text: "Boilers",
    url: "/heating/boilers/",
    imageSrc: "/assets/img/nav-04.jpg",
    imageAlt: "Boilers",
  },
];
const setTwoLinks = [
  {
    text: "Ductless Mini-Splits",
    url: "/air-conditioning/ductless-mini-splits/",
    imageSrc: "/assets/img/nav-01.jpg",
    imageAlt: "Ductless Mini-Splits",
  },
  {
    text: "Central AC",
    url: "/air-conditioning/central-air-conditioners/",
    imageSrc: "/assets/img/nav-05.jpg",
    imageAlt: "Central AC",
  },
  {
    text: "Furnaces",
    url: "/heating/furnaces/",
    imageSrc: "/assets/img/nav-03.jpg",
    imageAlt: "Furnaces",
  },
  {
    text: "Heat Pumps",
    url: "/heating/heat-pumps/",
    imageSrc: "/assets/img/nav-02.jpg",
    imageAlt: "Heat Pumps",
  },
];
const setThreeLinks = [
  {
    text: "Customer Reviews",
    url: "/customer-reviews/",
    imageSrc: "/assets/img/nav-07.jpg",
    imageAlt: "Cutomer Reviews",
  },
  {
    text: "Service Area",
    url: "/service-area/",
    imageSrc: "/assets/img/nav-08.jpg",
    imageAlt: "Service Area",
  },
  {
    text: "About Us",
    url: "/about-us/",
    imageSrc: "/assets/img/nav-09.jpg",
    imageAlt: "About Us",
  },
  {
    text: "Blog",
    url: "/blog/",
    imageSrc: "/assets/img/nav-10.jpg",
    imageAlt: "Blog",
  },
];
---

<nav aria-label="Top">
  <!-- Top Bar -->
  <div class="bg-gray-900">
    <div
      class="mx-auto flex h-10 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8">
      <div class="flex items-center space-x-2">
        <a
          href="/contact/"
          class="text-sm font-bold text-white hover:text-gray-100"
          >Free Estimates</a
        >
      </div>
      <div class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-orange-600">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
          ></path>
        </svg>
        <a
          aria-label="Phone Number"
          href="tel:(631) 402-5161"
          class="text-sm font-bold text-white hover:text-gray-100"
          >(631) 402-5161</a
        >
      </div>
    </div>
    <!-- Desktop Menu -->
    <div class="bg-white">
      <div class="mx-auto max-w-7xl px-6 md:py-2">
        <div class="flex h-16 items-center justify-between">
          <div class="hidden lg:flex lg:flex-1 lg:items-center">
            <Logo />
          </div>
          <!-- Flyout menus -->
          <div class="hidden h-full lg:flex">
            <div class="inset-x-0 bottom-0 px-4">
              <div class="flex h-full justify-center space-x-8">
                <div class="flyout-container flex">
                  <div class="relative flex">
                    <button
                      type="button"
                      class="flyout-button text-gray-700 hover:text-gray-800 relative flex items-center justify-center text-sm font-bold transition-colors duration-200 ease-out"
                      aria-expanded="false">
                      Heating
                      <span
                        class="absolute inset-x-0 -bottom-px z-20 h-0.5 transition duration-200 ease-out"
                        aria-hidden="true"></span>
                    </button>
                  </div>
                  <div
                    class="flyout-menu hidden opacity-0 transition-opacity duration-200 ease-out absolute inset-x-0 top-full z-10 bg-white text-sm text-gray-500">
                    <div
                      class="absolute inset-0 top-1/2 bg-white shadow"
                      aria-hidden="true">
                    </div>
                    <div
                      class="absolute inset-0 top-0 mx-auto h-px max-w-7xl px-8"
                      aria-hidden="true">
                      <div
                        class="bg-transparent h-px w-full transition-colors duration-200 ease-out">
                      </div>
                    </div>
                    <div class="relative">
                      <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
                        <div class="grid grid-cols-4 gap-x-8 gap-y-10 py-8">
                          {
                            setOneLinks.map((item) => (
                              <div class="group relative">
                                <a href={item.url}>
                                  <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-md bg-gray-100 group-hover:opacity-75">
                                    <img
                                      src={item.imageSrc}
                                      alt={item.imageAlt}
                                      class="object-cover object-center"
                                    />
                                  </div>
                                </a>
                                <a
                                  href={item.url}
                                  class="mt-6 block text-sm text-center font-bold text-gray-900">
                                  {item.text}
                                </a>
                              </div>
                            ))
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flyout-container flex">
                  <div class="relative flex">
                    <button
                      type="button"
                      class="flyout-button text-gray-700 hover:text-gray-800 relative flex items-center justify-center text-sm font-bold transition-colors duration-200 ease-out"
                      aria-expanded="false">
                      Air Conditioning
                      <span
                        class="absolute inset-x-0 -bottom-px z-20 h-0.5 transition duration-200 ease-out"
                        aria-hidden="true"></span>
                    </button>
                  </div>
                  <div
                    class="flyout-menu hidden opacity-0 transition-opacity duration-200 ease-out absolute inset-x-0 top-full z-10 bg-white text-sm text-gray-500">
                    <div
                      class="absolute inset-0 top-1/2 bg-white shadow"
                      aria-hidden="true">
                    </div>
                    <div
                      class="absolute inset-0 top-0 mx-auto h-px max-w-7xl px-8"
                      aria-hidden="true">
                      <div
                        class="bg-transparent h-px w-full transition-colors duration-200 ease-out">
                      </div>
                    </div>
                    <div class="relative">
                      <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
                        <div class="grid grid-cols-4 gap-x-8 gap-y-10 py-8">
                          {
                            setTwoLinks.map((item) => (
                              <div class="group relative">
                                <a href={item.url}>
                                  <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-md bg-gray-100 group-hover:opacity-75">
                                    <img
                                      src={item.imageSrc}
                                      alt={item.imageAlt}
                                      class="object-cover object-center"
                                    />
                                  </div>
                                </a>
                                <a
                                  href={item.url}
                                  class="mt-6 block text-sm text-center font-bold text-gray-900">
                                  {item.text}
                                </a>
                              </div>
                            ))
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  href="/project-gallery/"
                  class="flex items-center text-sm font-bold text-gray-700 hover:text-gray-800"
                  >Project Gallery</a
                >
                <div class="flyout-container flex">
                  <div class="relative flex">
                    <button
                      type="button"
                      class="flyout-button text-gray-700 hover:text-gray-800 relative flex items-center justify-center text-sm font-bold transition-colors duration-200 ease-out"
                      aria-expanded="false">
                      About Us
                      <span
                        class="absolute inset-x-0 -bottom-px z-20 h-0.5 transition duration-200 ease-out"
                        aria-hidden="true"></span>
                    </button>
                  </div>
                  <div
                    class="flyout-menu hidden opacity-0 transition-opacity duration-200 ease-out absolute inset-x-0 top-full z-10 bg-white text-sm text-gray-500">
                    <div
                      class="absolute inset-0 top-1/2 bg-white shadow"
                      aria-hidden="true">
                    </div>
                    <div
                      class="absolute inset-0 top-0 mx-auto h-px max-w-7xl px-8"
                      aria-hidden="true">
                      <div
                        class="bg-transparent h-px w-full transition-colors duration-200 ease-out">
                      </div>
                    </div>
                    <div class="relative">
                      <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8">
                        <div class="grid grid-cols-4 gap-x-8 gap-y-10 py-8">
                          {
                            setThreeLinks.map((item) => (
                              <div class="group relative">
                                <a href={item.url}>
                                  <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-md bg-gray-100 group-hover:opacity-75">
                                    <img
                                      src={item.imageSrc}
                                      alt={item.imageAlt}
                                      class="object-cover object-center"
                                    />
                                  </div>
                                </a>
                                <a
                                  href={item.url}
                                  class="mt-6 block text-sm text-center font-bold text-gray-900">
                                  {item.text}
                                </a>
                              </div>
                            ))
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mobile Menu Toggle -->
          <div class="flex flex-1 items-center lg:hidden">
            <button type="button" class="off-canvas-open-button">
              <span class="sr-only">Open menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
            </button>
          </div>

          <!-- Mobile Logo -->
          <div class="lg:hidden">
            <Logo />
          </div>

          <div class="flex flex-1 items-center justify-end">
            <a
              href="/contact/"
              class="text-sm font-bold text-gray-700 hover:text-gray-800 lg:block"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
