---
export interface HeroProps {
  header: {
    title: string;
    subtitle: string;
    content: string;
    topic: string;
  };
  primaryCta: { href: string; text: string };
  secondaryCta: { href: string; text: string };
  list: Array<{ title: string; content: string }>;
}

const { header, primaryCta, secondaryCta, list } = Astro.props as HeroProps;
---

<section
  class="mx-auto max-w-7xl overflow-hidden bg-white px-6 lg:px-8 py-8 sm:py-8">
  <div class="mx-auto max-w-7xl">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          {header.title}
        </h2>
        <p class="mt-6 text-base leading-7 text-gray-600">
          {header.content}
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600 font-bold">
          <a class="text-blue-500" href={primaryCta.href}>{primaryCta.text}</a> or
          call <a class="text-blue-500" href={secondaryCta.href}
            >{secondaryCta.text}</a
          > today to learn more about the benefits of a {header.topic} for your home.
        </p>
      </div>
      <dl
        class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-8">
        {
          list.map((item) => (
            <div>
              <dt class="font-semibold text-gray-900 flex items-center">
                <svg
                  class="h-6 w-6 text-orange-600 mr-2"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"
                  />
                </svg>
                {item.title}
              </dt>
              <dd class="mt-2">{item.content}</dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
